<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Attendance Records</h1>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Registration Number</th>
                <th>Face Image</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            {% for record in attendance_records %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td><img src="{{ url_for('static', filename=record[2]) }}" alt="Face Image"></td>
                <td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>